PORT=5000
NODE_ENV=development
JWT_SECRET=dartcodes-soas-secure-jwt-token-2026-intern-assessment
FRONTEND_URL=http://localhost:5173

# PostgreSQL Database Configuration
PGHOST=localhost
PGPORT=5432
PGUSER=postgres
PGPASSWORD=postgrespassword
PGDATABASE=soas_db
DATABASE_URL=postgres://postgres:postgrespassword@localhost:5432/soas_db
